Repository yzkee/liam: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: pnpm lint
  stage_fixed: true
  skip:
  - merge
  - rebase
  fail_text: 'Lint failed. For AI Agents: Please fix all linting errors before committing.'

stylelint:
  run: pnpm lint:stylelint {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase
  fail_text: 'Stylelint failed. CSS custom properties (variables) must be defined before use. For AI Agents: Please fix all stylelint errors before committing.'

✨ Add postgresqlSchemaDiffDeparser for schema diff to DDL conversion
  frontend/packages/schema/src/deparser/postgresql/index.ts
  frontend/packages/schema/src/deparser/postgresql/schemaDiffDeparser.test.ts
  frontend/packages/schema/src/deparser/postgresql/schemaDiffDeparser.ts
  frontend/packages/schema/src/index.ts
Due: lint

♻️ Refactor Migrations to use schema diff instead of full DDL
  frontend/apps/app/components/SessionDetailPage/components/Output/Output.tsx
  frontend/apps/app/components/SessionDetailPage/components/Output/components/Migrations/Migrations.tsx
  frontend/apps/app/components/SessionDetailPage/components/Output/components/Migrations/hooks/useDdl.ts
  frontend/apps/app/components/SessionDetailPage/components/Output/components/Migrations/utils/schemaToDdl.ts
Due: lint

feat(qa-agent): disable SQL retry in CI environment
  frontend/internal-packages/agent/src/constants.ts
  frontend/internal-packages/agent/src/qa-agent/routing/routeAfterAnalyzeFailures.ts
Due: lint

💄 Improve EmptyStateCard layout structure and spacing
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/InstallationSelector.module.css
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/EmptyStateCard/EmptyStateCard.module.css
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/EmptyStateCard/EmptyStateCard.tsx
Due: lint, stylelint

💄 Redesign RepositoryList and RepositoryItem components for improved UX
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryItem/RepositoryItem.module.css
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryItem/RepositoryItem.stories.tsx
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryItem/RepositoryItem.tsx
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryList.module.css
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryList.stories.tsx
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryList.tsx
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryListSkeleton/RepositoryListSkeleton.module.css
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryListSkeleton/RepositoryListSkeleton.tsx
  frontend/internal-packages/github/src/factories.ts
  frontend/internal-packages/github/src/index.ts
Due: lint, stylelint

💄 Update RepositoryItem button style to solid-primary variant
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryItem/RepositoryItem.tsx
Due: lint

fix(app): Improve GlobalNav text overflow handling and remove published changeset
  .changeset/eager-tips-design.md
  frontend/apps/app/components/CommonLayout/GlobalNav/Item.module.css
  frontend/apps/app/components/CommonLayout/GlobalNav/RecentsSection/components/SessionFilterDropdown/SessionFilterDropdown.module.css
Due: lint, stylelint

✨ Add Stepper component for multi-step workflows
  frontend/apps/app/components/ProjectNewPage/components/Stepper/StepArrow.tsx
  frontend/apps/app/components/ProjectNewPage/components/Stepper/Stepper.module.css
  frontend/apps/app/components/ProjectNewPage/components/Stepper/Stepper.stories.tsx
  frontend/apps/app/components/ProjectNewPage/components/Stepper/Stepper.tsx
  frontend/apps/app/components/ProjectNewPage/components/Stepper/index.ts
Due: lint, stylelint

✨ Add WatchSchemaForm component for schema file configuration
  frontend/apps/app/components/ProjectNewPage/components/WatchSchemaForm/WatchSchemaForm.module.css
  frontend/apps/app/components/ProjectNewPage/components/WatchSchemaForm/WatchSchemaForm.tsx
  frontend/apps/app/components/ProjectNewPage/components/WatchSchemaForm/index.ts
Due: lint, stylelint

✨ Add repository selection state and action buttons to ProjectNewPage
  frontend/apps/app/components/ProjectNewPage/ProjectNewPage.module.css
  frontend/apps/app/components/ProjectNewPage/ProjectNewPage.tsx
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/InstallationSelector.tsx
Due: lint, stylelint

✨ Integrate WatchSchemaForm and add save button validation in ProjectNewPage
  frontend/apps/app/components/ProjectNewPage/ProjectNewPage.tsx
Due: lint

🔧 Update eslint-suppressions for moved addProject file
  frontend/apps/app/eslint-suppressions.json
Due: lint

♻️ Lift selectedInstallation state to ProjectNewPage
  frontend/apps/app/app/projects/new/page.tsx
  frontend/apps/app/components/ProjectNewPage/ProjectNewPage.tsx
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/InstallationSelector.tsx
Due: lint

✨ Add schema file path support to project creation
  frontend/apps/app/components/ProjectNewPage/actions/addProject.ts
  frontend/internal-packages/db/supabase/database.types.ts
  frontend/internal-packages/db/supabase/migrations/20250610120000_extend_add_project_with_schema_file_path.sql
  frontend/internal-packages/db/supabase/schemas/schema.sql
Due: lint

💄 Fix text overflow in RepositoryItem component
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryItem/RepositoryItem.module.css
  frontend/apps/app/components/ProjectNewPage/components/InstallationSelector/components/RepositoryList/RepositoryItem/RepositoryItem.stories.tsx
Due: lint, stylelint

♻️ Refactor: Rename WatchSchemaForm to SetSchemaForm
  frontend/apps/app/components/ProjectNewPage/ProjectNewPage.tsx
  frontend/apps/app/components/ProjectNewPage/components/SetSchemaForm/SetSchemaForm.module.css
  frontend/apps/app/components/ProjectNewPage/components/SetSchemaForm/SetSchemaForm.tsx
  frontend/apps/app/components/ProjectNewPage/components/SetSchemaForm/index.ts
  frontend/apps/app/components/ProjectNewPage/components/WatchSchemaForm/index.ts
Due: lint, stylelint

Make FormatSelectDropdown width content-sized
  frontend/apps/app/features/sessions/components/PasteSessionForm/PasteSessionFormPresenter/PasteSessionFormPresenter.module.css
  frontend/apps/app/features/sessions/components/PasteSessionForm/PasteSessionFormPresenter/PasteSessionFormPresenter.tsx
Due: lint, stylelint

🚸 Improve ProjectHeader tab navigation user experience
  frontend/apps/app/components/ProjectLayout/ProjectHeader/ProjectHeader.module.css
  frontend/apps/app/components/ProjectLayout/ProjectHeader/ProjectHeader.tsx
  frontend/apps/app/components/ProjectLayout/ProjectHeader/TabItem/TabItem.module.css
  frontend/apps/app/components/ProjectLayout/ProjectHeader/TabItem/TabItem.stories.tsx
  frontend/apps/app/components/ProjectLayout/ProjectHeader/TabItem/TabItem.tsx
  frontend/apps/app/components/ProjectLayout/ProjectHeader/TabItem/index.ts
  frontend/apps/app/components/ProjectLayout/ProjectHeader/projectConstants.ts
  frontend/apps/app/components/ProjectLayout/ProjectLayout.tsx
Due: lint, stylelint

💄 fix empty message style, to bring it center of the container
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/CommandPalette/CommandPaletteContent/CommandPaletteContent.module.css
Due: stylelint

add changeset
  .changeset/three-teeth-marry.md
Due: lint

💄 fix scrollbar style declarations to apply -webkit-scrollbar pseud classes to Safari
  frontend/packages/ui/src/styles/globals.css
Due: stylelint

add changeset
  .changeset/sweet-chicken-stay.md
Due: lint

🔧 Add esbuild to automerge dev-tools group
  renovate.json5
Due: none

feat(app): Add grid layout and label area to NewSessionButton
  frontend/apps/app/components/CommonLayout/GlobalNav/NewSessionButton/NewSessionButton.module.css
  frontend/apps/app/components/CommonLayout/GlobalNav/NewSessionButton/NewSessionButton.tsx
Due: lint, stylelint

feat(app): Hide NewSessionButton icon on GlobalNav hover
  frontend/apps/app/components/CommonLayout/GlobalNav/NewSessionButton/NewSessionButton.module.css
  frontend/apps/app/components/CommonLayout/GlobalNav/NewSessionButton/NewSessionButton.tsx
Due: lint, stylelint

refactor: use --diff-* CSS variables in ER diagram diff display
  frontend/packages/erd-core/src/features/diff/components/DiffIcon/DiffIcon.module.css
  frontend/packages/erd-core/src/features/diff/styles/Diff.module.css
Due: stylelint

Remove 116 undefined CSS custom property references
  frontend/apps/app/components/BranchDetailPage/components/SchemaFilePathForm/SchemaFilePathForm.module.css
  frontend/apps/app/components/CommonLayout/AppBar/AppBar.module.css
  frontend/apps/app/components/OrganizationNewPage/OrganizationNewPage.module.css
  frontend/apps/app/components/ProjectSessionsPage/ProjectSessionsPage.module.css
  frontend/apps/app/components/ProjectSessionsPage/SessionItem.module.css
  frontend/apps/app/components/SessionDetailPage/components/Chat/components/ErrorDisplay/ErrorDisplay.module.css
  frontend/apps/app/components/SessionDetailPage/components/Chat/components/Messages/AiMessage/ToolCalls/ToolCallCard/components/Call/Call.module.css
  frontend/apps/app/components/SessionDetailPage/components/Chat/components/Messages/Markdown.module.css
  frontend/apps/app/components/SessionDetailPage/components/Output/components/Artifact/Artifact.module.css
  frontend/apps/app/components/ShareDialog/ShareDialog.module.css
  frontend/apps/app/components/shared/BranchCombobox/BranchCombobox.module.css
  frontend/apps/app/features/sessions/components/GitHubSessionForm/ProjectsDropdown/ProjectsDropdown.module.css
  frontend/apps/app/features/sessions/components/GitHubSessionForm/SchemaInfoSection/SchemaInfoSection.module.css
  frontend/apps/app/features/sessions/components/GitHubSessionForm/SchemaLink/SchemaLink.module.css
  frontend/apps/app/features/sessions/components/PasteSessionForm/PasteSessionFormPresenter/PasteSessionFormPresenter.module.css
  frontend/apps/app/features/sessions/components/ScratchSessionForm/ScratchSessionFormPresenter/ScratchSessionFormPresenter.module.css
  frontend/apps/app/features/sessions/components/UploadSessionForm/UploadSessionFormPresenter/DropZone.module.css
  frontend/apps/app/features/sessions/components/UploadSessionForm/UploadSessionFormPresenter/FileIcon.module.css
  frontend/apps/app/features/sessions/components/UploadSessionForm/UploadSessionFormPresenter/UploadSessionFormPresenter.module.css
  frontend/apps/app/features/sessions/components/UrlSessionForm/URLSessionFormPresenter/URLSessionFormPresenter.module.css
  frontend/apps/app/features/sessions/components/shared/ActionButton/ActionButton.module.css
  frontend/apps/app/features/sessions/components/shared/AttachButton/AttachButton.module.css
  frontend/apps/app/features/sessions/components/shared/MicButton/MicButton.module.css
  frontend/apps/app/features/sessions/components/shared/ViewErrorsCollapsible/ViewErrorsCollapsible.module.css
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/LeftPane/LeftPane.module.css
  frontend/packages/ui/src/components/Resizable/Resizable.module.css
  frontend/packages/ui/src/components/Select/Select.module.css
  frontend/packages/ui/src/components/Sidebar/Sidebar.module.css
Due: stylelint

fix: update Storybook build inputs to include component and style files
  turbo.json
Due: lint

Fix biome linting errors
  frontend/apps/app/components/BranchDetailPage/components/SchemaFilePathForm/SchemaFilePathForm.module.css
  frontend/apps/app/components/BranchDetailPage/components/SchemaFilePathForm/SchemaFilePathForm.tsx
  frontend/apps/app/components/ProjectSessionsPage/SessionItem.module.css
  frontend/apps/app/components/SessionDetailPage/components/Chat/components/ErrorDisplay/ErrorDisplay.module.css
  frontend/apps/app/components/SessionDetailPage/components/Chat/components/ErrorDisplay/ErrorDisplay.tsx
  frontend/apps/app/components/SessionDetailPage/components/Output/components/Artifact/Artifact.module.css
  frontend/apps/app/features/sessions/components/PasteSessionForm/PasteSessionFormPresenter/PasteSessionFormPresenter.module.css
  frontend/apps/app/features/sessions/components/ScratchSessionForm/ScratchSessionFormPresenter/ScratchSessionFormPresenter.module.css
  frontend/apps/app/features/sessions/components/UploadSessionForm/UploadSessionFormPresenter/DropZone.module.css
Due: lint, stylelint

refactor(app): Simplify NewSessionButton label styling
  frontend/apps/app/components/CommonLayout/GlobalNav/NewSessionButton/NewSessionButton.module.css
  frontend/apps/app/components/CommonLayout/GlobalNav/NewSessionButton/NewSessionButton.tsx
Due: lint, stylelint

refactor: simplify Storybook build inputs glob pattern
  turbo.json
Due: lint

Restore Radix UI CSS variables with stylelint exceptions
  frontend/apps/app/components/ShareDialog/ShareDialog.module.css
  frontend/apps/app/features/sessions/components/shared/ViewErrorsCollapsible/ViewErrorsCollapsible.module.css
  frontend/packages/ui/src/components/Select/Select.module.css
Due: stylelint

Restore --sidebar-width CSS variable in Sidebar component
  frontend/packages/ui/src/components/Sidebar/Sidebar.module.css
Due: stylelint

refactor: replace custom pgTAP extension with native PGlite package
  .npmrc
  frontend/apps/app/package.json
  frontend/internal-packages/pglite-server/package.json
  frontend/internal-packages/pglite-server/src/extensionUtils.ts
  frontend/internal-packages/pglite-server/src/extensions/pgtap/README.md
  frontend/internal-packages/pglite-server/src/extensions/pgtap/index.ts
  frontend/internal-packages/pglite-server/src/extensions/pgtap/pgtap.tar.gz
  frontend/internal-packages/pglite-server/src/extensions/pgtap/pgtap.test.ts
  pnpm-lock.yaml
Due: lint

✨ add export dropdown base component
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/AppBar.tsx
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/ExportButton/ExportButton.module.css
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/ExportDropdown/ExportDropdown.tsx
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/ExportDropdown/index.ts
Due: lint, stylelint

📦 install @liam-hq/neverthrow in @liam-hq/erd-core to enable 'fromPromise' function
  frontend/packages/erd-core/package.json
  pnpm-lock.yaml
Due: lint

✨ support export features
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/ExportDropdown/ExportDropdown.tsx
Due: lint

✅ add test code
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/ExportDropdown/ExportDropdown.test.tsx
Due: lint

add changeset
  .changeset/stale-chefs-bake.md
Due: lint

✨ support error handlings for disabled clipboard API
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/ExportDropdown/ExportDropdown.test.tsx
  frontend/packages/erd-core/src/features/erd/components/ERDRenderer/AppBar/ExportDropdown/ExportDropdown.tsx
Due: lint

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml,yaml}
  stylelint: any of: *.css
